      .back {
        background-color: #edeae1;
      }
      .backtwo {
        background-color: #e0dfdb;
      }
      .segundo {
        background-color: #167a5f;
      }
      .feature-icon-small {
        width: 3rem;
        height: 3rem;
    }